body {
    background-color: #0f171c;
}


.nav-links {
    font-size: 15px !important;
    text-wrap: wrap;
}

.nav-link:hover {
    background-color: rgb(255, 207, 1);
    border-radius: 4px;
    color: #0f171c;
}

.active-nav {
    background-color: rgb(255, 207, 1);
    border-radius: 4px;
    color: #0f171c;
}

.active-nav a {
    color: #0f171c;
}

.nav-link {
    color: white;
}

a {
    text-decoration: none;
}

.form-group {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
    border: 2px solid #0f171c;
}
